{% extends 'OroDashboardBundle:Dashboard:quickLaunchpad.html.twig' %}
{% set widgetName = 'number-of-tweets'  %}
{% block content %}
    <ul class="quick-launchpad-toolbar">
        {% set itemWidth = items|length > 0 ? (100 / items|length)|round(1) : 100 %}
        {% for item in items %}
            <li style="width: {{ loop.last ? 100 - ((items|length - 1) * itemWidth) : itemWidth }}%">
                <a href="#">
                    <span class="title-box">{{item.label}}</span>
                    <span class="list-content">
                        <h2><span class="number-of-tweets">{{item.numboftweets}}</span></h2>
                    </span>
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}